@charset "utf-8";
/* CSS Document */
body {
	font-family:"蘋果儷中黑", "微軟正黑體", "Microsoft JhengHei", Arial, sans-serif;
	word-break: normal;
	text-align:justify;
}

/*-----header 網站名稱-----*/
.header_logo {
	font-size:22px;
	font-weight:bold;
	line-height:60px;
}
/*-----搜尋 icon-----*/
.search_bar {
	border:1px solid;
	border-radius: 5px;/* Opera 10.50 and later (CSS3 standard) */
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
}
.search_bar input {
	font-size:16px;
	border:0;
	border-radius: 5px;/* Opera 10.50 and later (CSS3 standard) */
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
}
.search_btn {
	border:0;
	border-radius: 5px;/* Opera 10.50 and later (CSS3 standard) */
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	font-size:15px;
}
#search_value{
	outline: none;
	box-shadow: none;
}
/*-----hamburger content-----*/
.hamburger_list_wrap > ul > li{
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid;
}
.hamburger_list_wrap > ul > ul > li{
	font-size: 16px;
	/*font-weight: bold;*/
	border-bottom: 1px solid;
}
/*-----footer_menu_wrap-----*/
.menu_icon a{
	font-size: 12px;
}
/*-----會員專區 member header-----*/
.member_header_wrap{
	font-size:18px;
	font-weight: bold;
	line-height:50px;
}
.logout_btn{
	font-size:14px;
	line-height:36px;
	border-radius: 5px;/* Opera 10.50 and later (CSS3 standard) */
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
}
/*-----紅利館 bonus header-----*/
.dividend_wrap span{
	font-size: 18px;
	font-weight: bold;
	line-height: 50px;
}
.bonus_header_logo{
	font-size: 18px;
	font-weight: bold;
	line-height: 50px;
}
/*-----大標設定-----*/
.top_title{
	font-size: 16px;
	line-height: 40px;
	/*font-weight: bold;*/
}
/*-----橫向商品列表-----*/
.horizontal_product_content{
	padding: 10px 5px;
}
.horizontal_product_name{
	line-height: 20px;
}
.horizontal_price_style{
	font-size: 18px;
    font-weight: bold;
}
.Quantity_wrap_input{
	border-radius: 5px;/* Opera 10.50 and later (CSS3 standard) */
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	border: 0.5px solid;
}
.Quantity_wrap_button{
	line-height: 0px;
	padding: 0;
}
.button_style{
	font-size: 12px;
	line-height: 30px;
	border-radius: 5px;/* Opera 10.50 and later (CSS3 standard) */
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	padding: 0;
	border: 0;
}
/*-----delete-----*/
.prod_delete_button{
	border: 0;
	background: 0;
	outline: 0;
}
/*-----雙品商品列表-----*/
.even_product_content_wrap{
	padding: 0 5px;	
}
.even_price_style{
	font-size: 18px;
    font-weight: bold;
}
.Original_price{
	text-decoration: line-through;
}
/*-----單品商品列表-----*/
.odd_product_content_wrap{
	padding: 0 5px;	
}
.odd_price_style{
	font-size: 18px;
    font-weight: bold;
}

/*---商品介紹頁面(for prod.html)---*/
.btn{
	padding: 0;
}
.btn-info{
	border: 0;
}
/*商品頁籤*/
.controls_tabl{
	padding: 0;
}
.controls li{
	border: 1px solid;
}
.controls li a{
	line-height: 40px;
	text-align: center;
	outline: none;
}
/*google_map*/
.google_map_select{
	border-radius: 5px;
}
.google_map_wrap{
	border: 1px solid;
}
/*商品介紹頁 footer*/
.Border_r{
	border-right: 1px solid;
}
.menu_icon_buy{
	font-size: 20px;
	line-height: 50px;
}

/*---加入購物車頁面(for shopping_cart.html)---*/

.shopping_button_left{
	border-radius: 5px;
}
.shopping_button_right{
	border-radius: 5px;
}

/*-----任務紅利通知-----*/
.gift_img{
	padding-bottom: 5px;
}
.gift_img_jump_padding{
	animation: jump_padding .8s infinite linear; 
}
@keyframes jump_padding{ 
	0%{ padding-bottom: 10px; }
	50%{ padding-bottom: 5px; }
	100%{ padding-bottom: 10px; }
}

/*---頁面 input 設定---*/
.payment_method_wrap input + label,
.buyer_wrap input,
.receive_wrap input,
.family_wrap input,
.invoice_wrap input,
select option,
select{
	padding: 10px;
	border: 1px solid;
	border-radius: 5px;/* Opera 10.50 and later (CSS3 standard) */
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	transition: 0.35s ease-in-out;
	-webkit-transition: 0.35s ease-in-out;
	-moz-transition: 0.35s ease-in-out;
	-o-transition: 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}
.calculation_wrap li,
.payment_method_wrap li,
.buyer_wrap li,
.receive_wrap li,
.family_wrap li,
.invoice_wrap li{
	font-size: 16px;
}
.buyer_wrap h4,
.receive_wrap h4,
.family_wrap h4,
.invoice_wrap h4{
	/*font-weight: bold;*/
	padding-bottom: 5px;
}