@charset "UTF-8";

/*----------兌換頁 (bonus_exchange.html)----------*/

/*步驟圖*/
.step_arrow_one{
	border-color: transparent transparent transparent #c75957; 
}
.step_arrow_two{
	border-color: transparent transparent transparent #b3b3b3; 
}

.border_solid{
	border-color: #c75957;
}
/*----頁面 input 設定-----*/
.payment_method_wrap input + label,
.buyer_wrap input,
.receive_wrap input,
.family_wrap input,
.invoice_wrap input,
select option,
select{
	background-color: #f9f9f9;
	border-color: #b3b3b3;
	color: #666;
}
input:focus {
	border-color: #c75957;
	box-shadow: 0 0 5px #c75957;
}
select:focus{
	border-color: #c75957;
	box-shadow: 0 0 5px #c75957;
}
.payment_method_wrap input:checked + label,
input:checked{
	background-color: #c75957;
	border-color: #fff;
	box-shadow: 0 0 5px #c75957;
	color: #fff;
}

/*----------兌換確認頁及感謝頁 (bonus_thx.html)----------*/

/*-----訂單狀態-----*/
.bonus_order_status_style{
	width: 50px;
	height: 50px;
	border-radius: 50%; /* Opera 10.50 and later (CSS3 standard) */
	-moz-border-radius: 50%; /* Firefox */
	-webkit-border-radius: 50%; /* Safari, Chrome */
	border:2px solid #c75957;
	text-align: center;
}
.bonus_order_status_style span{
	line-height: 50px;
	font-weight: bold;
}

.bonus_order_status_wrap{
	position: absolute;
	top: -10px;
	right: 0px;
}