@charset "utf-8";

.slick-prev, .slick-next{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 35%;
	z-index: 2;
}
.slick-prev{
	left: 0px;
}
.slick-next{
	right: 0px;
}
.slick-prev:before, .slick-next:before{
	font-size: 40px;
	line-height: 40px;
	opacity: .2;
	color: #333;
}